@charset "UTF-8";

.language {
    text-align: right;
    font-size: 0.8em;
}

.language a:link, a:visited, a:active {
    text-decoration: none;
}
.language a:hover{
    text-decoration: underline;
}


.home {
    margin: 5%;
    font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;

}

h1 {
    text-align: center;
}

.home h2 {
    font-size: 1.8em;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    text-align: left;
    border-left: 10px solid #4e59b9;
}

#content {
    margin-top: 50px;
    line-height: 2;
}

th {
    text-decoration: none;
    text-align: left
}

td {
    text-decoration: none;
    text-align: center
}

#work_info{
    line-height: 2;
}
#work_info li {
    font-weight : bold;
    margin-top : 15px;
    margin-bottom : 15px;

}
p{
    font-size: 0.8em;
    line-height: 0.3;
}

ul{
    list-style:none;
 }

.point_li {
    line-height: 2;
    list-style-type: disc;
}

#skil_li{
    line-height: 2;
}

footer {
    margin-top: 40px;
    font-size: 0.8em;
    text-align: center;
    color:#fff;
    background-color: #4e59b9;
}
footer ul li {
    display: inline;
}